.wrapper {
  display: flex; /* Activate Flexbox */
  align-items: center; /* Vertically center icons and text */
  gap: 1rem;  /* Add some spacing between elements */
  color: var(--mantine-color-white);

}
  
  .icon {
    margin-right: var(--mantine-spacing-md);
    background-color: transparent;
  }
  
  .title {
    color: var(--mantine-color-blue-0);
  }
  
  .description {
    color: var(--mantine-color-white);
  }

  .flexContainer{
    width: 100%;
  }