/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./app/Services/services.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/
.services_wrapper__T_YX_ {
    position: relative;
    padding-top: calc(11.25rem * var(--mantine-scale));
    padding-bottom: calc(8.125rem * var(--mantine-scale));
    background-image: url(https://images.unsplash.com/photo-1573164713988-8665fc963095?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=980&q=80);
    background-size: cover;
    background-position: center;
    margin: calc(1.875rem * var(--mantine-scale));

    border-radius: calc(1.25rem * var(--mantine-scale));
    background-color: aquamarine;
  }
  
    @media (max-width: 36em) {.services_wrapper__T_YX_ {
      padding-top: calc(5rem * var(--mantine-scale));
      padding-bottom: calc(3.125rem * var(--mantine-scale))
  }
    }
  
  .services_inner__XPs13 {
    position: relative;
    z-index: 1;
  }
  
  .services_title__SOeJF {
    font-weight: 800;
    font-size: calc(2.5rem * var(--mantine-scale));
    letter-spacing: calc(-0.0625rem * var(--mantine-scale));
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    color: var(--mantine-color-white);
    margin-bottom: var(--mantine-spacing-xs);
    text-align: center;
    font-family:
      Greycliff CF,
      var(--mantine-font-family);
  }
  
  @media (max-width: 36em) {
  
  .services_title__SOeJF {
      font-size: calc(1.75rem * var(--mantine-scale));
      text-align: left
  }
    }
  
  .services_highlight__K5I6p {
    color: var(--mantine-color-primary-4);
  }
  
  .services_description__KQMA8 {
    color: var(--mantine-color-gray-0);
    text-align: center;
  }
  
  @media (max-width: 36em) {
  
  .services_description__KQMA8 {
      font-size: var(--mantine-font-size-md);
      text-align: left
  }
    }
  
  .services_controls__bZk35 {
    margin-top: calc(var(--mantine-spacing-xl) * 1.5);
    display: flex;
    justify-content: center;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
  }
  
  @media (max-width: 36em) {
  
  .services_controls__bZk35 {
      flex-direction: column
  }
    }
  
  .services_control__Awc8u {
    height: calc(2.625rem * var(--mantine-scale));
    font-size: var(--mantine-font-size-md);
  }
  
  .services_control__Awc8u:not(:first-of-type) {
      margin-left: var(--mantine-spacing-md);
    }
  
  @media (max-width: 36em) {
      .services_control__Awc8u:not(:first-of-type) {
        margin-top: var(--mantine-spacing-md);
        margin-left: 0;
      }
    }
  
  .services_secondaryControl__go9Nf {
    color: var(--mantine-color-white);
    background-color: rgba(255, 255, 255, 0.4);
  }
  
  @media (hover: hover) {
  
    .services_secondaryControl__go9Nf:hover {
      background-color: rgba(255, 255, 255, 0.45);
    }
}
  
  @media (hover: none) {
  
    .services_secondaryControl__go9Nf:active {
      background-color: rgba(255, 255, 255, 0.45);
    }
}
